  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333D29;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 17px;
  }
  .navwords {
    color: #C2C5AA
  }
  .dropbtn {
  background-color: #656D4A;
  color: #A4AC86;
  padding: 16px;
  font-size: 16px;
  }
 
  .dropdown {
   display: inline-block;
  }   

  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #A68A64;
  min-width: 160px;
 
  z-index: 1;
  }

  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }

  .dropdown-content a:hover {
  background-color: #A4AC86;
  }

  .dropdown:hover .dropdown-content {
  display: block;
  }

  .dropdown:hover .dropbtn {
  background-color: #A68A64;
  }

  body{
    font-family: 'Raleway', sans-serif;
  }
  h1 {
    color:#333D29
  }
